<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<!-- recipe loginMember -->
<properties>

	<entry key="loginMember">
		SELECT /* com.kh.member.model.dao.MemberDao#loginMember() */
					USER_NO
				  , MEM_ID
				  , MEM_PWD
				  , MEM_NAME
				  , EMAIL
				  , ENROLL_DATE
				  , STATUS
			  FROM MEMBER
			 WHERE STATUS ='Y'
			   AND MEM_ID = ?
			   AND MEM_PWD = ?
	</entry>
	<entry key="insertMember">
		INSERT /* com.kh.member.model.dao.MemberDao#insertMember() */
		  INTO MEMBER
		  (
		      USER_NO
		    , MEM_ID
		    , MEM_PWD
		    , MEM_NAME
		    , EMAIL
		  ) 
		  VALUES
		  (
		    SEQ_UNO.NEXTVAL
		    , ?
		    , ?
		    , ?
		    , ?

		  )
	
	</entry>
	<entry key="idCheck">
			SELECT
		       COUNT(*)
		  FROM MEMBER
		 WHERE MEM_ID = ?
	</entry>
	<entry key="nameCheck">
		SELECT
		       COUNT(*)
		  FROM MEMBER
		 WHERE MEM_NAME = ?
	
	</entry>
	<entry key="emailCheck">
		SELECT
		       COUNT(*)
		  FROM MEMBER
		 WHERE EMAIL = ?
	
	</entry>
	<entry key="selectMemberList">
		SELECT
		       M.USER_NO
		     , MEM_ID
		     , MEM_PWD
		     , MEM_NAME
		     , EMAIL
		     , MEM_PIC
		     , ENROLL_DATE
		     , MEM_REP_COUNT
		     , M.STATUS
		     , (SELECT COUNT(*) FROM BOARD WHERE USER_NO = M.USER_NO) BOARD_COUNT
		  FROM
		       MEMBER M
		 WHERE NOT USER_NO=1
	</entry>
	<entry key="selectBlackList">
		SELECT
		       M.USER_NO
		     , MEM_ID
		     , MEM_PWD
		     , MEM_NAME
		     , EMAIL
		     , MEM_PIC
		     , ENROLL_DATE
		     , MEM_REP_COUNT
		     , M.STATUS
		     , (SELECT COUNT(*) FROM BOARD WHERE USER_NO = M.USER_NO) BOARD_COUNT
		  FROM
		       MEMBER M
		 WHERE NOT USER_NO=1
		   AND M.STATUS = 'B'
	</entry>
	<entry key="selectMember">
		SELECT
		       M.USER_NO
		     , MEM_ID
		     , MEM_PWD
		     , MEM_NAME
		     , EMAIL
		     , MEM_PIC
		     , ENROLL_DATE
		     , MEM_REP_COUNT
		     , M.STATUS
		     , (SELECT COUNT(*) FROM BOARD WHERE USER_NO = M.USER_NO) BOARD_COUNT
		  FROM
		       MEMBER M
		 WHERE M.USER_NO = ?
	</entry>
	<entry key="updateMember">
		UPDATE  /* com.kh.member.model.dao.MemberDao#selectMember() */
	           MEMBER 
	       SET MEM_PWD= ?
	         , MEM_NAME= ?
	         , EMAIL = ?
	         , MEM_PIC = ?
	     WHERE MEM_ID = ?
	</entry>
	<entry key="selectUpdateMember">
		SELECT
		       MEM_ID
		     , MEM_PWD
		     , MEM_NAME
		     , EMAIL
		     , MEM_PIC
		 	 , ENROLL_DATE
		  FROM
		       MEMBER 
		 WHERE MEM_ID = ?
	
	</entry>
</properties>