<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertRecipe">
		  INSERT
			INTO RECIPE
			(
			RCP_NO
			, USER_NO
			, MEM_NAME
			, RCP_TITLE
			, RCP_DISH_TYPE
			, RCP_TAG
			, RCP_TIME
			, RCP_CONTENT
			, RCP_PIC
			, CREATE_DATE
			)
			VALUES
			(
			SEQ_RCPNO.NEXTVAL
			, ?
			, ?
			, ?
			, ?
			, ?
			, ?
			, ?
			, ?
			, SYSDATE
			)

	</entry>

	<entry key="insertIngredientList">
		   INSERT
			 INTO INGREDIENT_LIST
				(
				ING_NO
				, RCP_NO
				, ING_DISH
				,
				ING_METERING
				)
				VALUES
				(
				SEQ_INGNO.NEXTVAL
				, SEQ_RCPNO.CURRVAL
				, ?
				, ?
				)
	</entry>

	<entry key="insertCookDetail">
		   INSERT
			 INTO COOK
				(
				COOK_NO
				, RCP_NO
				, COOK_CONTENT
				,
				COOK_ORDER
				, COOK_PIC
				)
				VALUES
				(
				SEQ_CNO.NEXTVAL
				, SEQ_RCPNO.CURRVAL
				, ?
				, ?
				,
				?
				)
	</entry>

	<entry key="selectRecipeList">
		<![CDATA[SELECT *
				  FROM (
				  		SELECT
				               RCP_NO
				             , MEM_NAME
				             , RCP_TITLE
				             , RCP_CONTENT
				             , RCP_PIC
				         FROM RECIPE
				        WHERE STATUS='Y'
				        ORDER BY DBMS_RANDOM.RANDOM
				        )
		  		WHERE ROWNUM < 5]]>
	</entry>

	<entry key="totalCount">
		SELECT COUNT(RCP_NO) TOTAL
		FROM RECIPE
		WHERE STATUS = 'Y'
	</entry>

	<entry key="selectDetailRecipeList">
		SELECT
			R.RCP_NO
			, USER_NO
			, MEM_NAME
			, RCP_TITLE
			,
			RCP_DISH_TYPE
			, RCP_TAG
			, RCP_TIME
			, RCP_CONTENT
			, RCP_PIC
			, COUNT
			,
			SCRAP_COUNT
			FROM RECIPE R
			WHERE R.RCP_NO = ?
			AND R.STATUS = 'Y'
	</entry>

	<entry key="selectDetailIngList">
		SELECT
		       ING_NO
			 , RCP_NO
			 , ING_DISH
			 , ING_METERING
		  FROM INGREDIENT_LIST
		 WHERE RCP_NO = ?
	</entry>
	
	<entry key="selectDetailCookList">
		 SELECT
		        COOK_NO
		      , RCP_NO
		      , COOK_CONTENT
		      , COOK_ORDER
		      , COOK_PIC
		   FROM COOK
		  WHERE RCP_NO=?
	</entry>
	
	<entry key="tagSearch">
		SELECT *
		  FROM RECIPE
		 WHERE RCP_TAG LIKE '%?%'
		    OR RCP_TAG LIKE '%?%'
		    OR RCP_TAG LIKE '%?%'
		    OR RCP_TAG LIKE '%?%'
		    OR RCP_TAG LIKE '%?%'
		    OR RCP_TAG LIKE '%?%'
		    OR RCP_TAG LIKE '%?%'
		    OR RCP_TAG LIKE '%?%'
		    OR RCP_TAG LIKE '%?%'
		    OR RCP_TAG LIKE '%?%'
		    OR RCP_TAG LIKE '%?%'
		    OR RCP_TAG LIKE '%?%'
		    OR RCP_TAG LIKE '%?%'
		    OR RCP_TAG LIKE '%?%'
	</entry>
</properties>