<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>
		후에 정렬기능 orderby에 알맞은 정렬 기준을 제시하기 위해 2파트로 나누고
		사이에 문자열을 더해줄것
		prop.getProperty() + 정렬기준 + prop.getProperty()	
	</comment>
	<entry key="selectBoardListByPagePart1">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNO, B.*
		          FROM (
		                SELECT
		                       B.BOARD_NO
		                     , B.USER_NO
		                     , M.MEM_NAME
		                     , M.MEM_PIC
		                     , B.BOARD_TITLE
		                     , DECODE(B.BOARD_TYPE, 1, '일상', '후기') BOARD_CATEGORY
		                     , B.BOARD_CONTENT
		                     , TO_CHAR(B.CREATE_DATE, 'yyyy-MM-dd HH:mm') CREATE_DATE
		                     , B.BOARD_COUNT
		                  FROM BOARD_VIEW B
		                  JOIN MEMBER M ON (B.USER_NO = M.USER_NO)
	</entry>
	
	<entry key="selectBoardListByPagePart2">
		 WHERE BOARD_TYPE = ?
	</entry>
	
	<entry key="selectBoardListByPagePart3">
		               ) B
		       )
		 WHERE RNO BETWEEN ? AND ?
	</entry>
	

	<entry key="getMaxPage">
		SELECT COUNT(*) MAX
  		  FROM BOARD_VIEW
	</entry>
	
	<entry key="writeBoardContent">
		INSERT
		  INTO BOARD
		  (
		    BOARD_NO
		  , USER_NO
		  , BOARD_TITLE
		  , BOARD_TYPE
		  , BOARD_CONTENT
		  )
		  VALUES
		  (
		    SEQ_BNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="selectBoardDetail">
		SELECT 
		       B.BOARD_NO
		     , B.USER_NO
		     , M.MEM_ID
		     , M.MEM_NAME
		     , M.MEM_PIC
		     , B.BOARD_TITLE
		     , DECODE(B.BOARD_TYPE, 1, '일상', '후기') BOARD_CATEGORY
		     , B.BOARD_CONTENT
		     , TO_CHAR(B.CREATE_DATE, 'yyyy-MM-dd') CREATE_DATE
		     , B.BOARD_COUNT
		  FROM BOARD_VIEW B
		  JOIN MEMBER M ON (B.USER_NO = M.USER_NO)
		 WHERE B.BOARD_NO = ?
	</entry>
	
	<entry key="updateBoardCount">
		UPDATE
		       BOARD_VIEW
		   SET BOARD_COUNT = BOARD_COUNT + 1
		 WHERE BOARD_NO = ?
	</entry>
	
	<entry key="updateBoardContent">
		UPDATE
		       BOARD_VIEW
		   SET BOARD_TITLE = ?
		     , BOARD_TYPE = ?
		     , BOARD_CONTENT = ?
		 WHERE BOARD_NO = ?
	</entry>
	
	<entry key="deleteBoardContent">
		UPDATE
		       BOARD
		   SET STATUS = 'N'
		 WHERE BOARD_NO = ?
	</entry>

	<entry key="reportInsert">
		INSERT
		  INTO REPORT
		  (
		    REP_NO
		  , REP_WRITER_NO
		  , REP_TARGET_NO
		  , REP_REASON
		  , BOARD_TYPE
		  , REP_CONTENT_NO
		  , REP_REPLY
		  )
		  VALUES
		  (
		    SEQ_REPNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>

</properties>