<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectNoticeList">
		SELECT
		       NOT_NO
		     , NOT_TITLE
		     , NOT_CONTENT
		     , NOT_IMPORTANT
		     , NOT_DATE
		     , STATUS
		  FROM NOTICE
		 WHERE STATUS = 'Y'
		 ORDER BY NOT_NO
	</entry>

	<entry key="selectNotice">
		SELECT
		       NOT_NO
		     , NOT_TITLE
		     , NOT_CONTENT
		     , NOT_IMPORTANT
		     , NOT_DATE
		     , STATUS
		  FROM NOTICE
		 WHERE NOT_NO = ?
		   AND STATUS='Y'
	 </entry>

</properties>