<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectNoticeList">
		SELECT
		       NOT_NO
		     , NOT_TITLE
		     , NOT_CONTENT
		     , NOT_IMPORTANT
		     , NOT_DATE
		     , STATUS
		  FROM NOTICE
		 WHERE STATUS = 'Y'
		 ORDER BY NOT_NO
	</entry>

	<entry key="selectNotice">
		SELECT
		       NOT_NO
		     , NOT_TITLE
		     , NOT_CONTENT
		     , NOT_IMPORTANT
		     , NOT_DATE
		     , STATUS
		  FROM NOTICE
		 WHERE NOT_NO = ?
		   AND STATUS='Y'
	 </entry>

	<entry key="insertNotice">
		INSERT 
			  INTO NOTICE
			  (
			     NOT_NO
			   , NOT_TITLE
			   , NOT_CONTENT
			   , NOT_IMPORTANT
			   , NOT_DATE
			   , STATUS
			  )
			  VALUES
			  (
			      SEQ_NOTNO.NEXTVAL
			    , ?
			    , ?
			    , ?
			    , SYSDATE
			    , DEFAULT
  		      )
	</entry>
	
	<entry key="updateNotice">
		UPDATE
		       NOTICE
		   SET NOT_TITLE = ?
		     , NOT_CONTENT = ?
		     , NOT_IMPORTANT = ?
		     , NOT_DATE = SYSDATE
		 WHERE NOT_NO = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="deleteNotice">
		UPDATE
		       NOTICE
		   SET STATUS ='N'
		 WHERE NOT_NO = ?
	</entry>
	
	
	
</properties>