<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
			SELECT COUNT(*) LISTCOUNT
			  FROM REPORT
			 WHERE STATUS = 'Y'
	
	</entry>
	<entry key="selectContactList">
	SELECT *
	  FROM (
	        SELECT 
	                ROWNUM RNUM
	              , A.*
	          FROM (
	                SELECT 
	                       CON_NO
	                     , CON_TITLE
	                     , M.MEM_ID
	                     , CON_DATE
	                     , ANSWER
	                  FROM CONTACT C
	                  JOIN MEMBER M ON (M.USER_NO = C.USER_NO)
	                 WHERE C.STATUS='Y'
	                 ORDER 
	                    BY CON_REPLY DESC, CON_DATE ASC
	                ) A
	         )          
WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="insertContact">
		INSERT /*com.kh.admin.contact.model.dao.ContactDao#insertContact()*/
			  INTO CONTACT
			  (
			    CON_NO 
			  , CON_TYPE
			  , CON_TITLE
			  , CON_CONTENT
			  , USER_NO
			  )
			  VALUES
			  (
			    SEQ_CONNO.NEXTVAL
			  , ?
			  , ?
			  , ?
			  , ?
			  )
	</entry>
	<entry key="selectContactUser">
	SELECT     
	        CON_NO
	      , CON_TITLE
	      , CON_TYPE
	      , CON_DATE
	      , M.MEM_ID
	      , CON_CONTENT
	   FROM CONTACT C
	   JOIN MEMBER M ON(M.USER_NO = C.USER_NO)
	  WHERE CON_NO = ?
	    AND C.STATUS = 'Y'

	</entry>
	
	<entry key="selectContactListView">
		SELECT
		       CON_NO
		     , CON_TITLE
		     , M.MEM_ID
		     , CON_DATE
		     , ANSWER
		  FROM CONTACT C
		  JOIN MEMBER M ON (M.USER_NO = C.USER_NO)
		 WHERE C.STATUS='Y'
		 ORDER
		    BY CON_REPLY DESC, CON_DATE ASC
	</entry>
	
	<entry key="selectContact">
		SELECT
		       CON_NO
		     , CON_TITLE
		     , M.MEM_ID
		     , CON_TYPE
		     , CON_TITLE
		     , CON_CONTENT
		     , CON_DATE
		  FROM CONTACT C
		  JOIN MEMBER M ON (M.USER_NO = C.USER_NO)
		 WHERE CON_NO = ?
		   AND C.STATUS = 'Y'
	</entry>
	<entry ke">
	
	</entry>
</properties>