<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectContactList">
	SELECT /* com.kh.admin.contact.model.dao.contactDao#selectContactList()*/
       CON_NO 
     , CON_TYPE  
     , CON_TITLE
     , USER_NO
     , CON_DATE
  FROM CONTACT C
 WHERE C.STATUS='Y'
 ORDER 
 	BY CON_NO DESC
	
</entry>
<entry key="insertContact">
	INSERT /*com.kh.admin.contact.model.dao.ContactDao#insertContact()*/
  INTO CONTACT
  (
    CON_NO 
  , CON_TITLE
  , CON_TYPE
  , CON_CONTENT
  , USER_NO
  )
  VALUES
  (
    SEQ_CNO.NEXTVAL
  , ?
  , ?
  , ?
  , ?
  )
</entry>
</properties>